<ion-header style="background-color: #fd4449;">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu" style="color:#fff; "></ion-icon>
      </button>
      <ion-title style="color:#fff; ">Meus Pedidos</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content no-padding style="background-image: url(././assets/imgs/bg.png);background-color:white;" class="welcome-background" >

    <div *ngIf="showtxt">
        <ion-grid>     
          <ion-row class="emptycart">
            <ion-col>
              <p>Nenhum pedido encontrado.</p></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    
      <ion-list *ngIf="showHisdata">
        <ion-card no-padding *ngFor="let item of orderdata;  let i = index;">
          <ion-row class="orderholder">
            <ion-col>
              <h2 class="orderid">Pedido: {{item.orderid}}</h2>
              <h3 class="ordertime">Realizado em <span>{{item.ordertime | date: 'dd/MM/yyyy'}}</span></h3>
              <h3 class="ordertime">Entrega <span>{{item.dataentrega | date: 'dd/MM/yyyy'}}</span></h3>
              <p *ngIf="item.status == 'Recebido'"><img src="././assets/imgs/received.png">Recebido</p>
              <p *ngIf="item.status == 'Confirmado'"><img src="././assets/imgs/confirm.png">Confirmed</p>
              <p *ngIf="item.status == 'Processado'"><img src="././assets/imgs/process.png">Processado</p>
              <p *ngIf="item.status == 'Saiu para entrega'"><img src="././assets/imgs/deliver.png">Saiu para entrega</p>
              <p *ngIf="item.status == 'Entregue'"><img src="././assets/imgs/delivered.png">Entregue</p>
              <p *ngIf="item.status == 'Cancelado'"><img src="././assets/imgs/cancel.png">Cancelado</p>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col style="align-content: center;">
              <button ion-button icon-left clear  style="align-self: center; width: 100%;" (click)="openOrderDetailPage(item.orderid,item.fname,item.lname,item.area,item.address,item.mobile,item.ordertime,item.dataentrega, item.paymentform)">
                <div>Ver Detalhes</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>   
      </ion-list>

</ion-content>
