<ion-content no-padding style="background-image: url(././assets/imgs/bg.png);background-color:white;">
<div class="login">
  <img src="././assets/imgs/wgs-logo.png" alt="">
  <!-- <h3>Seumarket</h3> -->
  <div class="logininput">
  <ion-item>
    <ion-input type="text" [(ngModel)]="userData.email" placeholder="Email" maxlength="50"></ion-input>
</ion-item>
<ion-item>
<ion-input type="password" [(ngModel)]="userData.password" placeholder="Senha" maxlength="50"></ion-input>
</ion-item>
</div>
<div class="btn-login"><button ion-button round (click)="login()">&nbsp;Entrar</button></div>
<h6><span><a href="#" (click)="forgetPass()">Esqueci minha senha</a></span></h6>
<h6>Não é cadastrado? <span><a href="#" (click)="onregister()">Cadastre-se agora</a></span></h6>
</div>
</ion-content>
