<ion-content no-padding style="background-image: url(././assets/imgs/bg.png);background-color:white;">
  <div class="register">
    <img src="././assets/imgs/wgs-logo.png" alt="">
    <!-- <h3>Grocery</h3> -->
    <div class="registerinput">

        <ion-item>
            <ion-input type="text" required [(ngModel)]="userData.name" placeholder="Nome Completo" maxlength="100"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
              [(ngModel)]="userData.mobile"
              inputmode="numeric"
              placeholder="Número Celular"
              mask="(00) 0000-00000"
              type="text"
              maxlength="15"></ion-input>
        </ion-item>

        <!-- <ion-item>
            <ion-label fixed color="primary"> Endereço</ion-label>
          <ion-input type="text" [(ngModel)]="userData.address" maxlength="200"></ion-input>
        </ion-item> -->
        <!-- <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select placeholder="Select One">
            <ion-option value="f">Female</ion-option>
            <ion-option value="m">Male</ion-option>
          </ion-select>
        </ion-item> -->

    <ion-item>
      <ion-input 
        type="text"
        inputmode="email" required
        placeholder="Email"
        [(ngModel)]="userData.email" maxlength="50"></ion-input>
    </ion-item>

  <ion-item>
    <ion-input type="password"
    placeholder="Senha"
    [(ngModel)]="userData.password" required maxlength="20"></ion-input>
  </ion-item>

  </div>
  <div class="btn-register"><button ion-button round (click)="register()">&nbsp;Cadastrar</button></div>
  <h6>Já possui cadastro? <span><a href="#" (click)="onlogin()">Entrar</a></span></h6>
  </div>
  </ion-content>