page-feedback {

    font-family: roboto;

    .toolbar-title {
        color: #ffffff;
      }
    
      .back-button {
        color: #ffffff;
      }

    .bg-img{
        
        background-image: url('../assets/imgs/bg.png') !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
    }

    .feedbackbtn{
        margin-top: 2rem;
        text-align: center;
    }

    .feedbackbtn .button{
        width:50%;
        font-size: 1.5rem;
        margin-top: 10px;
        padding: 1.5rem;
        background: #b5300b;
        color:#ffffff;
        font-weight: bold;
}


}