<ion-header style="background-color: #fd4449;">

  <ion-navbar>
    <ion-title style="color:#fff;">Fale Conosco</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label floating color="primary">Envie sua Mensagem</ion-label>
              <ion-textarea rows="10" formControlName="fmsg"></ion-textarea>
        </ion-item>
        <div class="feedbackbtn">
        <button ion-button round type="submit" [disabled]="!todo.valid">Confirmar</button>
      </div>
      </form>
</ion-content>

