<ion-header>
  <ion-navbar>
      <button ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Confirmação de Pedido</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-image: url(././assets/imgs/bg.png);background-color:white;" class="welcome-background">
  <div class="img-holder"><img class="confirmimg" src="././assets/imgs/order-submitted.png" /></div>
  <h2 class="textthanks">Obrigado</h2>
<p class="textorderplaced">Seu Pedido foi enviado !!</p>

<div>
</div>
<p class="textorderno">Guarde o Número do seu pedido: <span class="orderno">{{orderid}}</span></p>
<p class="textaddional">Todos os detalhes do processamento do pedido, pagamento, status e entrega serão enviados para você por email e/ou whatsapp.</p>
</ion-content>
