// @font-face {
//   font-family: 'LeckerliOne';
//   font-style: semi-bold;
//   font-weight: 600;
//   src: url('../assets/fonts/LeckerliOne-Regular.ttf');
//   }

.col {
  font-family: Roboto;
  // font-weight: bold;
}

.footer {
  background-color: #b5300b;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.emptycart{
  width:60%;
  font-size: 2rem;
  font-family: Roboto;
  text-align: center;
  margin:20rem auto;
}

.emptycart img{
  width:12rem;
}

.emptycart p{
  font-family: Roboto;
  font-size: 2.5rem;
  color: #b5300b;
}

.grid{
  padding: 5px;
  font-size: 1.5rem;
}

.DeliveryCharges{
  color: #f53d3d;
}

.grandtotal{
  color: #b5300b;
}

.cartitems{
  margin-top: 8px;
  padding: 1px;
  text-align: center;
}

.cartitems img{
  width: 6rem;
}

.cartitems p{
  font-family: Roboto;
  font-size: 2rem;
}

.cartitems ion-row{
  border-bottom: 1px solid #d3d3d3;
}

.noborder ion-row{
  border-bottom: 0px;
}

.productnamecart {
  align-self: start;
  text-align: left;
  font-size: 1.2rem;
}

.labelqty {
  background-color: #8a8a8a;
  border-radius: 20%;
}

.productlabelsubst {
  align-self: start;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.updwnbtn button{
  border-radius: 30%;
  margin-top: 0em;
  width: 3%;
  border-color: #505050;
  background-color: #505050;
  background: #505050;
}

.updwnbtn .button.activate .button.activated {
  background-color: #505050;
  background: #505050;
}  