<ion-header style="background-color: #fd4449;">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" style="color:#fff;"></ion-icon>
    </button>
    <ion-title style="color:#fff; ">Meu Carrinho</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="emptycart()" *ngIf="showcartdata">
        <ion-icon name="md-trash" class="trash-icon" style="color:#fff;"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content no-padding class="background">
  <div *ngIf="getCartLength() === 0">
    <ion-grid>
      <ion-row class="emptycart">
        <ion-col
          ><img src="././assets/imgs/empty.png" />
          <p>Carrinho Vazio</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="getCartLength() > 0">
    <div class="grids">
      <ion-grid>
        <ion-row>
          <ion-col col-6> Sub Total </ion-col>
          <ion-col col-6>
            <span style="float:right">{{ getAmountLocal() | currency:'BRL'}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6> Taxa de Entrega </ion-col>
          <ion-col col-6 class="DeliveryCharges">
            <span style="float:right">{{ getShipValue() | currency:'BRL'}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6> Total </ion-col>
          <ion-col col-6 class="grandtotal">
            <span style="float:right">{{ getFinalAmountLocal() | currency:'BRL'}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr />
    <div class="cartitems">
      <p>Itens do Carrinho</p>
      <ion-grid>
        <ion-row>
          <ion-col class="noborder">
            <ion-row>
               <ion-col class="noborder productlabelsubst">Aceita<br/>substituição</ion-col>
               <ion-col></ion-col>
               <ion-col class="noborder" col-8></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let c of getCart(); let itemno = index">
           <ion-col class="noborder">
             <ion-row>
                <ion-col><ion-checkbox  [ngModel]="chackAcceptChange(itemno)" (ionChange)="stateChange($event, itemno)"></ion-checkbox></ion-col>
                <ion-col>
                  <img src="{{baseUrlImage}}{{c.itemImage}}">
                  <!-- <ion-label class="labelqty">{{c.Mquantity}}</ion-label> -->
                  <ion-badge class="labelqty">{{c.Mquantity}}</ion-badge>
                </ion-col>
                <ion-col class="noborder" col-8>
                  <ion-row>
                    <ion-col class="noborder productnamecart" col-12>{{ c.itemname }}</ion-col>
                  </ion-row>
                  <ion-row class="noborder productnamecart" style="vertical-align: middle; align-self: flex-end;">
                    <ion-col col-4 style="vertical-align: middle; font-weight: bold;">{{c.itemprice * c.Mquantity | currency:'BRL'}}</ion-col>
                    <ion-col col-8 style="border:none" class="updwnbtn">
                      <button ion-button color="danger" outline (click)="changeQty(itemno,-1)"><b>-</b></button>
                      <button ion-button color="danger" outline (click)="changeQty(itemno,1)" ><b>+</b></button>
                    </ion-col>
                  </ion-row>
                </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer class="footer" (click)="goToCheckout()" *ngIf="getCartLength() > 0">
  <ion-toolbar color="warning">
    <h6 style="margin-top:1rem;">
      Finalizar Pedido
      <span style="float:right">{{ getFinalAmountLocal() | currency:'BRL'}} &nbsp;&nbsp;<ion-icon
          name="md-arrow-forward"
        ></ion-icon>
      </span>
    </h6>
  </ion-toolbar>
</ion-footer>
