<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color: #fd4449;">

  <ion-navbar>
    <ion-title style="color:#fff;">Fale Conosco</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label floating color="primary"> Nome</ion-label>
          <ion-input type="text" formControlName="cname"></ion-input>
        </ion-item>
          <ion-item>
              <ion-label floating color="primary">Telefone</ion-label>
              <ion-input type="number" formControlName="cmobile" max="10"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label floating color="primary">Mensagem</ion-label>
              <ion-textarea rows="10" formControlName="cmsg"></ion-textarea>
        </ion-item>
        <div class="contactbtn">
        <button ion-button round type="submit" [disabled]="!todo.valid">Enviar</button>
      </div>
      </form>
</ion-content>

