page-home {
  font-family: Roboto;
  
  .toolbar-title {
    color: #ffffff;
    font-family: Roboto;
  }

  .bar-button {
    color: #ffffff;
  }

  .welcome-background {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-size: cover;
    background-position: cover;
    position: absolute;
  }

  .discount {
    font-size: 12px;
    text-decoration: line-through;
  }

  .slides1 {
    height: 30%;
    position: relative;
  }

  .prd{
    margin-left:5px;
    float: left;
    color: #777574;
    font-family: Roboto;
  }

  .cat{
    margin-left:5px;
    color: #777574;
    font-family: Roboto;
  }

  .offers button{
    float: right;
    margin-top:1.5rem;
    margin-right:8px;
    text-align:right;
    color:#ffffff;
    padding: 3px 10px;
    font-size: 1.5rem;
    background: #fd4449;
    border-radius: 5%;
    border:none;
    height: auto;
    text-transform: none;
  }

  .offers{
    -webkit-animation: pulse linear 1s infinite;
    animation: pulse linear 1s infinite;
  }
  @-webkit-keyframes pulse {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
  }
  @keyframes pulse {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
  }

  /////////////////////////////////////

  ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
    }
    .scroll-item p {
      padding: 8px 0px 0px 0px;
      margin: 0;
      text-align: center;
      font-weight: bold;
    }
  }

  .itemimg {
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 0%;
    border: 0px solid #777574;
    margin: 0px 40px;
  }

  .button {
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 1.8rem;
    background: #b5300b;
    background-color: #b5300b;
    color:#ffffff;
    width: 80%;
  } 
  
  .minus {
    padding: 1.8rem;
    background: #b5300b;
    background-color: #b5300b;
    color:#ffffff;
    width: 25%;  
  }
  
  .plus {
    padding: 1.8rem;
    background: #225e07;
    background-color: #225e07;
    color:#ffffff;
    width: 25%;    
  }
  
  .qtylabel {
    background: #ffffff;
    border-color: transparent;
    border: none;
    outline-style: none;
    box-shadow: none !important;
    color:#4a4d57;
    width: 10%;  
  }
  
}
