<ion-header style="background-color: #fd4449;">

  <ion-navbar no-border-bottom>
	  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>teste</ion-title> -->
    <img src="././assets/imgs/logo_horizontal_white.png" style="display:inline-block" height="40px"/>
    <ion-buttons end class="cartbadge">
        <button ion-button (click)="gotoSearch()">
            <ion-icon name="ios-search" class="search-icon"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding style="background-image: url(././assets/imgs/bg.png);background-color:white;" class="welcome-background" >
 
<div class="slides1" *ngIf="bannerFullData && bannerFullData.length">
  <ion-slides autoplay="2000" loop="true" speed="900">
    <ion-slide *ngFor="let itembn of bannerFullData; let i = index;" [style.backgroundImage]="'url(' + baseUrlBanner + itembn.bnimg + ')'" (click)="gotoBanner(itembn)" style="background-repeat: no-repeat;background-size: 100% 100%">
    </ion-slide>
  </ion-slides>
</div>
<h4 class="cat" style="margin-left:5px;">Categorias</h4>

<ion-scroll scrollX style="height:115px;">

    <div class="scroll-item" *ngFor="let itemcat of categoryFullData;  let i = index;">
        <div [style.backgroundImage]="'url(' + baseUrlImage + itemcat.cateimg + ')'" class="itemimg" (click)="gotoproducts(itemcat.id, itemcat.category_name)"></div>
      <p class="product-name">{{itemcat.category_name}}</p>
  </div>
</ion-scroll>
  
<h4 class="prd">Produtos sugeridos</h4>
<!-- <div class="offers"><button ion-button (click)="gotoOffer()">Ofertas</button><span></span></div> -->

<div class="products">

<ion-card *ngFor="let item of homeproductdataSet;  let i = index;">
  <ion-card-header>
    <img (click)="openProductDetailPage(item.id,item.name,item.image,item.description,item.quantity,item.quantitytype,item.price, item.category_id, item.category_name, item.subcategory_id, item.subcategory_name)" class="p-2" src="{{baseUrlImage}}{{item.image}}"><br/>
    <div class="price">{{item.price | currency:'BRL'}}</div><br/>
    <span class="product-name">{{item.name}}</span>
  </ion-card-header>
  <ion-card-content *ngIf="qtyOnCart(item.id) > 0">
        <button class="minus" round ion-button (click)="changeQtyCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image,-1)"><ion-icon name="md-remove-circle"></ion-icon></button>
        <button class="qtylabel" ion-button locked>{{qtyOnCart(item.id)}}</button>
        <button class="plus" round ion-button (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon></button>
  </ion-card-content>
  <ion-card-content *ngIf="qtyOnCart(item.id) <= 0">
    <button ion-button round (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon>&nbsp;Adicionar</button>
  </ion-card-content>
</ion-card>
</div>
</ion-content>

<ion-footer class="footer" style="background-color: #4a4d57;" (click)="gotocart()">
  <ion-toolbar transparent>
    <h6>
      <span style="float:left"><ion-buttons end class="cartbadge">
        <button ion-button>
          <ion-icon name="ios-cart" class="cart-icon"></ion-icon>
        </button><ion-badge item-end  class="cart-items">{{getCartCount()}}</ion-badge>
      </ion-buttons></span>
      <span style="float:right">{{ getAmountLocal() | currency:'BRL'}} &nbsp;&nbsp;<ion-icon
        name="md-arrow-forward"
      ></ion-icon></span>
    </h6>
  </ion-toolbar>
</ion-footer>
