page-offers {
  font-family: roboto;

  .toolbar-title {
    color: #ffffff;
  }

  .bar-button {
    color: #ffffff;
  }

  .cartbadge ion-badge {
    padding: 2px 5px;
    background: #f1060e;
  }

  .itemimg {
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #b5300b;
    margin: 0px 10px;
  }

  .offersproduct {
    width: 95%;
    padding: 0;
    margin: 0;
    column-count: 2;
    column-fill: auto;
    font-family: roboto;
    text-align: center;
  }

  .offersproduct .card {
    width: 100%;
    margin: 10px 10px 0px 10px;
    padding: 20px;
    display: inline-block;
  }

  .offersproduct .card-header {
    padding: 2px;
  }

  .offersproduct .card-content {
    padding: 0;
  }

  .offersproduct .p-2 {
    height: 15rem;
    width: 30rem;
    padding: 1.5rem 0.8rem;
    object-fit: scale-down;
  }

  .offersproduct .text-center {
    text-align: center;
    font-weight: bolder;
    font-size: 1.6rem;
  }

  .offersproduct .quantity {
    float: left;
    color: #444444;
    font-weight: bolder;
  }
  .offersproduct .price {
    float: right;
    color: #fd4449;
    font-weight: bolder;
  }

  .offersproduct .btn-cart {
    text-align: center;
  }

  .offersproduct .button {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 1.5rem;
    background: #ffffff;
    color: #b5300b;
    border: 2px solid #b5300b;
    font-weight: bold;
  }

  .text-offer{
      text-align: right;
      color:#f1060e;
      font-weight: bold;
  }

  .text-offer{
    -webkit-animation: pulse linear 1s infinite;
    animation: pulse linear 1s infinite;
  }
  @-webkit-keyframes pulse {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
  }
  @keyframes pulse {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
  }
}
