<ion-header style="background-color: #b5300b;">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" style="color:#fff; "></ion-icon>
    </button>
    <ion-title style="color:#fff;">Pagamento <ion-icon name="lock" style="color:#fff; "></ion-icon></ion-title>    
  </ion-navbar>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="home-icon" name="home"></ion-icon></ion-col>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="calendar-icon" name="calendar"></ion-icon></ion-col>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="card-icon" name="card"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content no-padding>
  <div  class="address">
    <ion-card style="width: 90%;">
      <ion-card-content>
        <div class="grids">
          <ion-grid>
            <ion-row>
              <ion-col col-6> Sub Total </ion-col>
              <ion-col col-6>
                <span style="float:right">{{ getAmountLocal() | currency:'BRL'}}</span>
              </ion-col>
            </ion-row>
            <ion-row [hidden]="!couponApplied">
              <ion-col col-6> Desconto (Cupom) </ion-col>
              <ion-col class="DiscountApplied" col-6>
                <span style="float:right">{{ getDiscount() | currency:'BRL'}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6> Taxa de Entrega </ion-col>
              <ion-col col-6 class="DeliveryCharges">
                <span style="float:right">{{ getShipValue() | currency:'BRL'}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6> Total </ion-col>
              <ion-col col-6 class="grandtotal">
                <span style="float:right">{{ getFinalAmountLocal() | currency:'BRL'}}</span>
              </ion-col>
            </ion-row>            
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="payment">
    <div class="addressinput">      
      <ion-item>
        <ion-input
              [(ngModel)]="order.coupon_code"
              (blur)="getCouponData()"              
              placeholder="Cupom de Desconto"              
              type="text"
              maxlength="20"></ion-input>
      </ion-item>
      <ion-item >                            
        <ion-select placeholder="Forma de Pagamento" [(ngModel)]="order.paymentform" required>
          <ion-option value="1">Transferência Bancária</ion-option>
          <ion-option value="2">Cartão de Crédito</ion-option>
        </ion-select>
      </ion-item>      
      <ion-item>       
        <ion-input 
              [(ngModel)]="order.cpfcnpj"
              placeholder="CPF"
              inputmode="numeric"
              mask="000.000.000-00"
              type="text"
              autocomplete="off"
              maxlength="18">
        </ion-input>
      </ion-item>
      <ion-item [hidden]="!isCreditCard()">
        <ion-input
              [(ngModel)]="order.holder_name"
              placeholder="Nome (como aparece no cartão)"
              type="text"
              autocomplete="off"
              class="input_holder_name"
              autocapitalize="characters"
              (ionChange)="holderNameToUppercase(order.holder_name)" 
              maxlength="30">
        </ion-input>
      </ion-item>
      <ion-item [hidden]="!isCreditCard()">
        <ion-input
              [(ngModel)]="order.card_number"
              placeholder="Número do Cartão"
              inputmode="numeric"
              mask="0000 0000 0000 0000|0000 000000 00000|0000 000000 0000"
              type="text"
              autocomplete="off"
              (ionChange)="detectCardType($event)"
              maxlength="19">
        </ion-input>    
        <span item-right>
          <img [src]="brand_image" (load)="loaded = true" [hidden]="!loaded" />
        </span>    
      </ion-item>
      <ion-item [hidden]="!isCreditCard()">
        <ion-input
              [(ngModel)]="order.expiration_date"
              placeholder="exp. MM/YY"
              inputmode="numeric"              
              mask="00/00"
              type="text"
              autocomplete="off"
              maxlength="5">
        </ion-input>
        <span item-right class="col col-20">
          <ion-input
              [(ngModel)]="order.cvv"
              placeholder="Cód. Segurança"
              inputmode="numeric"              
              mask="000|0000"
              type="text"
              autocomplete="off"
              maxlength="4">
        </ion-input>
        </span>
      </ion-item>      
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
  <button ion-button round (click)="onSubmit()">Finalizar Pedido</button>
</ion-footer>
