<ion-menu [content]="content">
  <ion-content class="menubar">
    <div class="menu-header">
      <img src="././assets/imgs/wgs-logo-w.png" alt="" srcset="">
      <br/>
      <span class="menu-ident" (click)="openedituser()" >{{userData.fname}}</span>
    </div>
    <ion-list class="mainmenu">
      <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="onclickHome()" menuToggle>
          <ion-icon name="md-home"></ion-icon>
          &nbsp;&nbsp;<p>Home</p>
        </button>
      </ion-item>

      <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="onclickMyOrder()" menuToggle>
          <ion-icon name="ios-cart"></ion-icon>
          &nbsp;&nbsp;<p>Meus Pedidos</p>
        </button>
      </ion-item>

      <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="openedituser()" menuToggle>
          <ion-icon name="md-person"></ion-icon>
          &nbsp;&nbsp;<p>Meus Dados</p>
        </button>
      </ion-item>

      <!-- <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="openoffers()" menuToggle>
          <ion-icon name="md-happy"></ion-icon>
          &nbsp;&nbsp;<p>Ofertas</p>
        </button>
      </ion-item> -->

      <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="onclickNoti()" menuToggle>
          <ion-icon name="ios-notifications"></ion-icon>
          &nbsp;&nbsp;<p>Notificações</p>
        </button>
      </ion-item>

      <!-- <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="openContact()" menuToggle>
          <ion-icon name="ios-pin"></ion-icon>
          &nbsp;&nbsp;<p>Fale Conosco</p>
        </button>
      </ion-item> -->

      <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="openfeedback()" menuToggle>
          <ion-icon name="md-star-half"></ion-icon>
          &nbsp;&nbsp;<p>Fale Conosco</p>
        </button>
      </ion-item>

      <ion-item no-lines class="menuitem">
        <button ion-button clear (click)="logout()" menuToggle>
          <ion-icon name="md-log-out"></ion-icon>
          &nbsp;&nbsp;<p>Sair</p>
        </button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
