// @font-face {
//   font-family: "LeckerliOne";
//   font-style: semi-bold;
//   font-weight: 600;
//   src: url("../assets/fonts/LeckerliOne-Regular.ttf");
// }

.bar-buttons{
  color:#ffffff;
}

.toolbar-background {
  border-color: #b5300b;
  background: #b5300b;
}

.menubar{
    background: #b5300b;
}

.mainmenu{
  margin-top: 6rem;
}

.menu-header {
  background: #b5300b;
  text-align: center;
}

.menu-header img {
  width:8rem;
  margin-top: 6rem;
}

.menu-header p {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  font-family: roboto;
}

.menu-ident {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: roboto;
}

.toolbar-title {
  color: white;
}

.label{
  margin:0;
}

.menuitem{
  background: #b5300b;
}

.menuitem .item-button{
  font-family: roboto;
  color: #ffffff;
  margin-left: 1rem;
  // margin-bottom: 3rem;
  font-weight: bold;
  font-size: 2.4rem;
}

.menuitem p{
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.8rem; 
}

.cartbadge ion-badge{
  padding:2px 5px;
  background: #4a4d57;
}

.cart-icon {
  margin-top: 0px;
  padding-bottom: 15px;
  font-size:30px;
}

.search-icon {
  font-size:30px;
}

.trash-icon {
  font-size:30px;
}

.cart-items {
  font-size:18px;
}

.footer {
  background-color: #383838;
  border-color: #383838;
  background: #383838;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.products {
  width: 95%;
  padding: 0;
  margin: 0;
  column-count: 1;
  column-fill: auto;
  text-align: center;
}

.card {
  width: 100%;
  margin: 10px 10px 0px 10px;
  padding: 10px;
  display: inline-block;
  border-radius: 2%;
  border: 0px solid #777574;
  box-shadow: 6px 13px 47px -7px rgba(110,107,107,0.71);
-webkit-box-shadow: 6px 13px 47px -7px rgba(110,107,107,0.71);
-moz-box-shadow: 6px 13px 47px -7px rgba(110,107,107,0.71);
}

.card-header {
  padding: 2px;
}

.card-content {
  padding: 0;
  align-self: center;
}

.p-2 {
  height: 15rem;
  align-self: center;
  object-fit: scale-down;
}

.text-center {
  font-family: Roboto;
  text-align: center;
  font-weight: bolder;
  font-size: 1.6rem;
}

.product-name{
  float: center;
  text-align: center;
  font-weight: bolder;
  color: #777574;
  font-family: Roboto;
  margin-bottom: 50px;
}

.price {
  float: center;
  color: #4a4d57;
  font-size: 2.2rem;
  font-weight: bolder;
  margin-top: 0px;
}

.btn-cart {
  text-align: center;
}

.itembtns {
  text-align: center;
  align-self: center;
}

