<ion-header style="background-color: #fd4449;">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu" style="color:#fff; "></ion-icon>
      </button>
      <ion-title style="color:#fff; ">Busca de produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding style="background-image: url(././assets/imgs/bg.png);background-color:white;" class="welcome-background" >
    <ion-list class="listcls" no-lines>
        <ion-item class="searchcl">
          <ion-input type="text" [(ngModel)]="postData.squery" placeholder="Busca"></ion-input>
          <button item-right ion-button clear (click)="searchProduct()">
              <ion-icon name="md-search"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <div class="products">
          <ion-card *ngFor="let item of searchFullData;  let i = index;">
            <ion-card-header>
              <img (click)="openProductDetailPage(item.id,item.name,item.image,item.description,item.quantity,item.quantitytype,item.price, item.category_id, item.category_name, item.subcategory_id, item.subcategory_name)" class="p-2" src="{{baseUrlImage}}{{item.image}}"><br/>
              <div class="price">{{item.price | currency:'BRL'}}</div><br/>
              <span class="product-name">{{item.name}}</span>
            </ion-card-header>
            <ion-card-content *ngIf="qtyOnCart(item.id) > 0">
              <button class="minus" round ion-button (click)="changeQtyCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image,-1)"><ion-icon name="md-remove-circle"></ion-icon></button>
              <button class="qtylabel" ion-button locked>{{qtyOnCart(item.id)}}</button>
              <button class="plus" round ion-button (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon></button>
            </ion-card-content>
            <ion-card-content *ngIf="qtyOnCart(item.id) <= 0">
              <button ion-button round (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon>&nbsp;Adicionar</button>
            </ion-card-content>
          </ion-card>
      </div>
</ion-content>
<ion-footer class="footer" style="background-color: #4a4d57;" (click)="gotocart()">
  <ion-toolbar transparent>
    <h6>
      <span style="float:left"><ion-buttons end class="cartbadge">
        <button ion-button>
          <ion-icon name="ios-cart" class="cart-icon"></ion-icon>
        </button><ion-badge item-end  class="cart-items">{{getCartCount()}}</ion-badge>
      </ion-buttons></span>
      <span style="float:right">{{ getAmountLocal() | currency:'BRL'}} &nbsp;&nbsp;<ion-icon
        name="md-arrow-forward"
      ></ion-icon></span>
    </h6>
  </ion-toolbar>
</ion-footer>
