page-edituser {

    font-family: roboto;

    // .formdiv{
    //     margin-top:2rem;
    // }

    .ion-content{
        background-size: cover;
        background-position: cover;
        position: absolute;
    }

    .select-ios {
        padding: 11px 8px 11px 1px;
    }

    ion-select {
        //max-width: 30%;
        min-width: 100%;
        //padding-left: 50px;
        //margin-left: 50px;
        // align-content: flex-end;
        // align-self: flex-end;
    }

    .address{
        width: 100%;
        // margin-top:1rem;
        text-align: center;
    }

    .addressinput{
        // margin-top:5rem;
    }

    .address .item{
        width:90%;
        margin:2rem 1rem 1rem 1rem;
    }

    .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
        margin-left:0;
    }

    .subbtn .button{
        padding:0 4rem;
    }
    // .subbtn{
    //     margin-top: 1rem;
    //     text-align: center;
    // }

    // .button{
    //     width:50%;
    // }
}


