<ion-header style="background-color: #fd4449;">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" style="color:#fff; "></ion-icon>
    </button>
    <ion-title style="color:#fff; ">Meus dados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="address">
    <ion-input type="hidden" [(ngModel)]="userData.fname"></ion-input>    
    <div class="addressinput">

      <ion-item>
          <ion-input type="text" required disabled="true" [(ngModel)]="userData.fname" placeholder="Nome Completo" maxlength="100"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
          type="text"
          inputmode="email" required
          disabled="true"
          placeholder="Email"
          [(ngModel)]="userData.email" maxlength="50"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" required [(ngModel)]="userData.address" placeholder="Endereço" maxlength="200"></ion-input>
      </ion-item>
      <ion-item>     
          <ion-select placeholder="Bairro" required [(ngModel)]="userData.neighborhood_id">
            <ion-option *ngFor="let item of neighborhoodsData;  let i = index;" value="{{item.id}}">{{item.name}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
              [(ngModel)]="userData.mobile"              
              placeholder="Número Celular"
              type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label (click)="helpLobby()"><ion-icon name="help-circle"></ion-icon> Entregar na Portaria</ion-label><ion-icon name="help-circle"></ion-icon>
          <ion-toggle slot="start" name="lobby" [ngModel]="checkLobby()" (ionChange)="stateChangeLobby($event)" color="warning"></ion-toggle>
      </ion-item>
    </div>
    <div class="subbtn">
      <button ion-button round (click)="onSubmit()">
        Alterar Dados
      </button>
    </div>
  </div>
</ion-content>
