<ion-header style="background-color: #fd4449;">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu" style="color:#fff; "></ion-icon>
      </button>
      <ion-title style="color:#fff; ">Notificações</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="welcome-background">
        <div class="noti" *ngFor="let item of NotidataSet">
          <ion-icon name="ios-notifications"></ion-icon>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </div>
</ion-content>
