page-product-desc {
  font-family: roboto;

  .toolbar-title {
    color: #ffffff;
  }

  .bar-button {
    color: #ffffff;
  }

  .productdesc {
    background: #ffffff;
    padding: 1rem;
  }

  .productdesc h1{
    margin-top:1rem;
  }

  .productimage {
    height: 25rem;
    width: 30rem;
    padding: 2rem;
    object-fit: scale-down;
    margin: auto;
  }

  .price-detail {
    float: center;
    color: #4a4d57;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bolder;
    width: 100%;
    margin-top: 0px;
  }

  .product-name-detail{
    float: center;
    text-align: center;
    font-size: 3.0rem;
    font-weight: bolder;
    color: #777574;
    font-family: Roboto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .product-category-sub { 
    float: center;
    text-align: left;
    font-size: 1.5rem;
    color: #777574;
    font-family: Roboto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .product-category-sub .underlined {
    font-weight: bolder;
  }

  .rowbuttons {
    float: center;
    text-align: center;
    width: 100%;
    margin-top: 0px;
  }

  .button {
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 1.8rem;
    background: #b5300b;
    background-color: #b5300b;
    color:#ffffff;
    width: 80%;
  } 
  
  .minus {
    padding: 1.8rem;
    background: #b5300b;
    background-color: #b5300b;
    color:#ffffff;
    width: 25%;  
  }
  
  .plus {
    padding: 1.8rem;
    background: #225e07;
    background-color: #225e07;
    color:#ffffff;
    width: 25%;    
  }
  
  .qtylabel {
    background: #ffffff;
    border-color: transparent;
    border: none;
    outline-style: none;
    box-shadow: none !important;
    color:#4a4d57;
    width: 10%;  
  }

}
