<ion-header style="background-color: #fd4449;">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu" style="color:#fff; "></ion-icon>
      </button>
      <ion-title style="color:#fff; ">Descrição do Produto</ion-title>
      <ion-buttons end class="cartbadge">
        <button ion-button (click)="gotoSearch()">
            <ion-icon name="ios-search" class="search-icon"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content style="background-image: url(././assets/imgs/bg.png);background-color:white;"> 
  <div class="productdesc">    
    <ion-row>
      <span class="product-category-sub"><span class="underlined" (click)="gotoproducts(itemCategoryId, itemCategoryName)">{{itemCategoryName}}</span> > {{itemSubcategoryName}}</span>
    </ion-row>
    <ion-grid>
          <img class="productimage" src="{{baseUrlImage}}{{itemImage}}">
      <ion-row>
        <span class="product-name-detail">{{itemName}}</span>
      </ion-row>
      <ion-row>
        <span class="price-detail">{{itemPrice | currency:'BRL'}}</span>
      </ion-row>
      <ion-row>
        <p>
            {{itemDesc}}
        </p>
      </ion-row>
      <ion-row>
        <span *ngIf="qtyOnCart(itemId) > 0" class="rowbuttons">
            <button class="minus" round ion-button (click)="changeQtyCart(itemId,itemName,itemQuantity,itemQuantityType,itemPrice,itemImage,-1)"><ion-icon name="md-remove-circle"></ion-icon></button>
            <button class="qtylabel" ion-button locked>{{qtyOnCart(itemId)}}</button>
            <button class="plus" round ion-button (click)="addToCart(itemId,itemName,itemQuantity,itemQuantityType,itemPrice,itemImage)"><ion-icon name="md-add-circle"></ion-icon></button>
        </span>
        <span *ngIf="qtyOnCart(itemId) <= 0" class="rowbuttons">
          <button ion-button round primary (click)="addToCart(itemId,itemName,itemQuantity,itemQuantityType,itemPrice,itemImage)">
            <ion-icon name="md-add-circle"></ion-icon>
            &nbsp;&nbsp;Adicionar
          </button>
        </span>
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>
  <ion-footer class="footer" style="background-color: #4a4d57;" (click)="gotocart()">
    <ion-toolbar transparent>
      <h6>
        <span style="float:left"><ion-buttons end class="cartbadge">
          <button ion-button>
            <ion-icon name="ios-cart" class="cart-icon"></ion-icon>
          </button><ion-badge item-end  class="cart-items">{{getCartCount()}}</ion-badge>
        </ion-buttons></span>
        <span style="float:right">{{ getAmountLocal() | currency:'BRL'}} &nbsp;&nbsp;<ion-icon
          name="md-arrow-forward"
        ></ion-icon></span>
      </h6>
    </ion-toolbar>
  </ion-footer>