<!-- RECEBER POR PARÂMETROS E FAZER O BINDING DE TODAS ESSAS CHAMADAS DE MÉTODOS:
  CLICK NO PRODUTO
  minus
  plus
   -->
<ion-card-header>
  <img (click)="openProductDetailPage(item.id,item.name,item.image,item.description,item.quantity,item.quantitytype,item.price, item.category_id, item.category_name, item.subcategory_id, item.subcategory_name)" class="p-2" src="{{baseUrlImage}}{{item.image}}"><br/>
  <div class="price">{{item.price | currency:'BRL'}}</div><br/>
  <span class="product-name">{{item.name}}</span>
</ion-card-header>
<ion-card-content *ngIf="qtyOnCart(item.id) > 0">
  <button class="minus" round ion-button (click)="changeQtyCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image,-1)"><ion-icon name="md-remove-circle"></ion-icon></button>
  <button class="qtylabel" ion-button locked>{{qtyOnCart(item.id)}}</button>
  <button class="plus" round ion-button (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon></button>
</ion-card-content>
<ion-card-content *ngIf="qtyOnCart(item.id) <= 0">
  <button ion-button round (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon>&nbsp;Adicionar</button>
</ion-card-content>
