product-itemproduct {

    .minus {
        padding: 1.8rem;
        background: #b5300b;
        background-color: #b5300b;
        color:#ffffff;
        width: 25%;  
      }
      
      .plus {
        padding: 1.8rem;
        background: #225e07;
        background-color: #225e07;
        color:#ffffff;
        width: 25%;    
      }
      
      .qtylabel {
        background: #ffffff;
        border-color: transparent;
        border: none;
        outline-style: none;
        box-shadow: none !important;
        color:#4a4d57;
        width: 10%;  
      }
    
}
