<ion-header style="background-color: #b5300b;">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" style="color:#fff; "></ion-icon>
    </button>
    <ion-title style="color:#fff;">Endereço de entrega</ion-title>
  </ion-navbar>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="home-icon" name="home"></ion-icon></ion-col>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="calendar-icon" name="calendar"></ion-icon></ion-col>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="card-icon" name="card"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content no-padding>
  <div class="address">
    <ion-input type="hidden" [(ngModel)]="order.fname"></ion-input>    
      <ion-item>
        <ion-input
              [(ngModel)]="order.zipcode"
              (blur)="getAdressData()"
              inputmode="numeric"
              placeholder="Cep"
              mask="00000-000"
              type="text"
              maxlength="9"></ion-input>
      </ion-item>      
      <ion-item>
        <ion-input type="text" required [(ngModel)]="order.neighborhood" placeholder="Bairro" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" required [(ngModel)]="order.street" placeholder="Logradouro" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" required [(ngModel)]="order.street_number" placeholder="Número" maxlength="20"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" required [(ngModel)]="order.address" placeholder="Complemento" maxlength="100"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
              [(ngModel)]="order.mobile"              
              placeholder="Número Celular"
              disabled="true"
              type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label (click)="helpLobby()"><ion-icon name="help-circle"></ion-icon> Entregar na Portaria</ion-label><ion-icon name="help-circle"></ion-icon>
          <ion-toggle slot="start" name="lobby" [ngModel]="checkLobby()" (ionChange)="stateChangeLobby($event)" color="warning"></ion-toggle>
      </ion-item>
    </div>    
</ion-content>

<ion-footer class="footer">
    <button ion-button round (click)="onSubmit()">Continuar</button>
</ion-footer>