page-address {

    font-family: roboto;

    .ion-content{
        background-size: cover;
        background-position: cover;
        position: absolute;
    }

    .select-ios {
        padding: 11px 8px 11px 1px;
    }

    ion-select {
        //max-width: 30%;
        min-width: 100%;
        //padding-left: 50px;
        //margin-left: 50px;
        // align-content: flex-end;
        // align-self: flex-end;
    }

    .address{
        width: 100%;
        // margin-top:1rem;
        text-align: center;
    }

    .addressinput{
        // margin-top:5rem;
    }

    .address .item{
        width:90%;
        margin:2rem 1rem 1rem 1rem;
    }

    .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
        margin-left:0;
    }

    .subbtn .button{
        // padding:0 4rem;
    }
    
    .col-checkoutbar {
        border: yellow;
        text-align: center;
    }

    .home-icon {
        font-size:40px;
        color: yellow;
      }
    
    .calendar-icon {
        font-size:40px;
        color: white;
    }

    .card-icon {
        font-size:40px;
        color: white;
    }

    .footer {
        background-color: white;
        border-color: white;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        margin-bottom: 20px;
        text-align: center;
      }
}


