<ion-header style="background-color: #b5300b;">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" style="color:#fff; "></ion-icon>
    </button>
    <ion-title style="color:#fff;">Data de entrega</ion-title>
  </ion-navbar>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="home-icon" name="home"></ion-icon></ion-col>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="calendar-icon" name="calendar"></ion-icon></ion-col>
        <ion-col class="col-checkoutbar" col-4><ion-icon class="card-icon" name="card"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content no-padding>
  <div  class="address">
    <ion-card style="width: 90%;">
      <ion-card-content>
        <div class="grids">
          <ion-grid>
            <ion-row>
              <ion-col col-6> Sub Total </ion-col>
              <ion-col col-6>
                <span style="float:right">{{ getAmountLocal() | currency:'BRL'}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6> Taxa de Entrega </ion-col>
              <ion-col col-6 class="DeliveryCharges">
                <span style="float:right">{{ getShipValue() | currency:'BRL'}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6> Total </ion-col>
              <ion-col col-6 class="grandtotal">
                <span style="float:right">{{ getFinalAmountLocal() | currency:'BRL'}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div  class="address">
    <ion-card style="width: 90%;">
      <!-- Carregar a mensagem do BACKEND, Não deixar msg FIXA!!!! -->
      <ion-card-content>
        <div class="divmsg">
          Nossas entregas acontecem às terças e sextas. Pedindo até às 12:00 de segunda ou quinta, conseguimos te entregar no dia seguinte.
          Não entregamos nos feriados.
        </div> 
      </ion-card-content>
    </ion-card>
  </div>
  <div class="address">
    <div class="addressinput">      
      <ion-item >                            
          <ion-select placeholder="Data de entrega" required [(ngModel)]="order.dataentrega">
            <ion-option *ngFor="let item of deliveryDateData;  let i = index;" value="{{item.delivery_day}}">{{item.delivery_dayf}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item >                            
        <ion-select placeholder="Escolha a recorrência da entrega" required [(ngModel)]="order.recurrence">
          <ion-option value="0">Sem recorrência</ion-option>
          <ion-option value="10">Receber a cada 10 dias</ion-option>
          <ion-option value="15">Receber a cada 15 dias</ion-option>
          <ion-option value="20">Receber a cada 20 dias</ion-option>
          <ion-option value="30">Receber a cada 30 dias</ion-option>          
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-textarea rows="3" [(ngModel)]="order.observacao" placeholder="Observações" maxlength="200"></ion-textarea>        
    </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer class="footer">
  <button ion-button round (click)="onSubmit()">Continuar</button>
</ion-footer>
