
<ion-header style="background-color: #fd4449;">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu" style="color:#fff; "></ion-icon>
      </button>
      <ion-title style="color:#fff; ">Detalhes do Pedido</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding style="background-image: url(././assets/imgs/bg.png);background-color:white;" class="welcome-background" >
  
      <div>
          <ion-item no-padding clear>
            <ion-row >
                <ion-col >
                    <div style="font-weight: bold">Detalhe do Pedido</div>
                  </ion-col>
              <ion-col>
                <p>Pedido: {{viewData.orderid}}</p>
                <p>Realizado em </p>
                <p>{{viewData.ordertime | date: 'dd/MM/yyyy'}}</p>
                <p>Entrega </p>
                <p>{{viewData.dataentrega | date: 'dd/MM/yyyy'}}</p>
              </ion-col>
            </ion-row>
          </ion-item>  
  
          <ion-item no-padding clear>
              <ion-row >
                <ion-col >
                  <div style="font-weight: bold">Forma de Pagamento</div>
                </ion-col>
                <ion-col>
                  <p>{{paymentformLabel}}</p>
                </ion-col>
              </ion-row>
          </ion-item>
  
          <ion-item no-padding clear>
              <ion-row >
                <ion-col >
                  <div style="font-weight: bold">Endereço de Entrega</div>
                </ion-col>
                <ion-col >
                    <p >{{viewData.area}}</p>
                    <p >{{viewData.address}}</p>
                  </ion-col>
              </ion-row>
          </ion-item>
  
          <ion-item no-padding clear  no-lines>
              <ion-row >
                <ion-col>
                  <div style="font-weight: bold">Contato</div>
                </ion-col>
                <ion-col >
                    <p>{{viewData.mobile}}</p>
                  </ion-col>
                </ion-row>
          </ion-item>

          <ion-item no-padding clear  no-lines>
            <ion-row >
              <ion-col>
                <div style="font-weight: bold">Sub Total</div>
              </ion-col>
              <ion-col >
                  <p><span style="float:right">{{ viewData.amount | currency:'BRL'}}</span></p>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col>
                  <div style="font-weight: bold">Taxa de Entrega</div>
                </ion-col>
                <ion-col>
                    <p><span class="DeliveryCharges" style="float:right">{{ viewData.shipValue | currency:'BRL'}}</span></p>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col>
                  <div style="font-weight: bold">Total do Pedido</div>
                </ion-col>
                <ion-col>
                    <p><span class="grandtotal" style="float:right">{{ viewData.finalamount | currency:'BRL'}}</span></p>
                </ion-col>
              </ion-row>
        </ion-item> 
          <div class="cartitems">
              <p>Itens do carrinho</p>
              <ion-grid>
                <ion-row>
                  <ion-col>Item</ion-col>
                  <ion-col>Qtde</ion-col>
                  <ion-col>Preço</ion-col>
                </ion-row>
                <ion-row *ngFor="let c of orderDetail; let i = index">
                  <ion-col> {{ c.itemname }} </ion-col>
                  <ion-col> {{ c.Mquantity }}</ion-col>
                  <ion-col> {{ c.itemprice * c.Mquantity | currency:'BRL'}} </ion-col>
                </ion-row>
              </ion-grid>
            </div>
        </div>
  </ion-content>