.products {
  font-family: roboto;
}

.toolbar-title {
  color: #ffffff;
}

.bar-button {
  color: #ffffff;
}

.itemimg {
  width: 90px;
  height: 90px;
  // background-size: cover;
  border-radius: 0%;
  border: 0px solid #777574;
  margin: 0px 40px;
}

.button {
  font-size: 1.5rem;
  margin-top: 30px;
  padding: 1.8rem;
  background: #b5300b;
  background-color: #b5300b;
  color:#ffffff;
  width: 80%;
} 

.minus {
  padding: 1.8rem;
  background: #b5300b;
  background-color: #b5300b;
  color:#ffffff;
  width: 25%;  
}

.plus {
  padding: 1.8rem;
  background: #225e07;
  background-color: #225e07;
  color:#ffffff;
  width: 25%;    
}

.qtylabel {
  background: #ffffff;
  border-color: transparent;
  border: none;
  outline-style: none;
  box-shadow: none !important;
  color:#4a4d57;
  width: 10%;  
}

