<ion-header style="background-color: #fd4449;">
<ion-navbar no-border-bottom>
	  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  	<ion-title>{{category_name}}</ion-title>

    <ion-buttons end class="cartbadge">
      <button ion-button (click)="gotoSearch()">
          <ion-icon name="ios-search" class="search-icon"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
  
<ion-content no-padding style="background-image: url(././assets/imgs/bg.png);background-color:white;" class="welcome-background" >
  <ion-item>
    <ion-label>Subcategorias</ion-label>
    <ion-select interface="popover" (ionChange)="loadByProductsBySubCategory(category_id,$event);">
      <ion-option value="">Todas</ion-option>
      <ion-option *ngFor="let item of subcategoryFullData;  let i = index;" value="{{item.id}}">{{item.subcategory_name}}</ion-option>
    </ion-select>
  </ion-item>
  <div class="products">
    <ion-card *ngFor="let item of categoryFullData;  let i = index;">
      <ion-card-header>
        <img (click)="openProductDetailPage(item.id,item.name,item.image,item.description,item.quantity,item.quantitytype,item.price, item.category_id, item.category_name, item.subcategory_id, item.subcategory_name)" class="p-2" src="{{baseUrlImage}}{{item.image}}"><br/>
        <div class="price">{{item.price | currency:'BRL'}}</div><br/>
        <span class="product-name">{{item.name}}</span>
      </ion-card-header>
      <ion-card-content *ngIf="qtyOnCart(item.id) > 0">
        <button class="minus" round ion-button (click)="changeQtyCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image,-1)"><ion-icon name="md-remove-circle"></ion-icon></button>
        <button class="qtylabel" ion-button locked>{{qtyOnCart(item.id)}}</button>
        <button class="plus" round ion-button (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon></button>
      </ion-card-content>
      <ion-card-content *ngIf="qtyOnCart(item.id) <= 0">
        <button ion-button round (click)="addToCart(item.id,item.name,item.quantity,item.quantitytype,item.price, item.image)"><ion-icon name="md-add-circle"></ion-icon>&nbsp;Adicionar</button>
      </ion-card-content>
    </ion-card>
</div>
</ion-content>

<ion-footer class="footer" style="background-color: #4a4d57;" (click)="gotocart()">
  <ion-toolbar transparent>
    <h6>
      <span style="float:left"><ion-buttons end class="cartbadge">
        <button ion-button>
          <ion-icon name="ios-cart" class="cart-icon"></ion-icon>
        </button><ion-badge item-end  class="cart-items">{{getCartCount()}}</ion-badge>
      </ion-buttons></span>
      <span style="float:right">{{ getAmountLocal() | currency:'BRL'}} &nbsp;&nbsp;<ion-icon
        name="md-arrow-forward"
      ></ion-icon></span>
    </h6>
  </ion-toolbar>
</ion-footer>

